.aaa {
  color: red;
}
.bbb {
  color: green;
  background-image: url('https://images.steamusercontent.com/ugc/17854221424440595525/543783B601D5A853E3F50907B9722A314DFD92B6/?imw=512&amp;imh=320&amp;ima=fit&amp;impolicy=Letterbox&amp;imcolor=%23000000&amp;letterbox=true');
}
.a {
  background-image: url('https://c.wallhere.com/photos/ce/9a/1920x1200_px_fruit_Green_Lime_Wedges-1714313.jpg!d');
  background-repeat: no-repeat;
  background-position: top;
  font-size: 20px;
  text-align: center;
  font-style: normal;
  ba
}
